$bright-green: green;
$gray-1: #EDEDED;
$gray-2: #EAEAEA;
$gray-3: #999999;
$gray-4: #545454;
$green: #3D823E;
$light-green: #97BA98;
$primary: $green;
$info: #999999;
$white: white;
$white-gray: rgba(255,255,255,0.6);
$black: #000;
$red: #FF3860;
