$bright-green: green;
$dark-blue: navy;
$green: #3D823E;
$light-green: #97BA98;
$primary: $dark-blue; // overrides bulma color
$info: #999999; // overrides bulma color
$white: white;
$black: #000;
$red: #FF3860;
$slate: slateblue;
